<h1>会員の詳細</h1>

<p><%= link_to "編集", [:edit, @user] %></p>
<table>
  <tr>
    <th>番号</th>
    <td><%= @user.number %></td>
  </tr>
  <tr>
    <th>ユーザ名</th>
    <td><%= @user.name %></td>
  </tr>
</table>
<%= link_to "会員名簿に戻る", :users %>
